body {
  background-color: #fffafa;
}
.navbar {
  background-color: #0d98ba;
  width: 100%;
}
.nav-link {
  color: #ffffff;
}
.navbar-brand {
  color: #ffffff;
}
.navbar-toggler {
  color: #ffffff;
}
.navbar-toggler:hover {
  color: #ffffff;
}
.nav-link:hover {
  color: #31585e;
}
.navbar-brand:hover {
  color: #31585e;
}
.btn{
  background-color: #0d98ba;
  border-color: #31585e ;
}
.btn:hover {
  background-color: #31585e;
  border-color: #0d98ba;
}

.search{
 color:#fffafa;
 background-color: #31585e;
 align-items: center;
}
.form-inline {
  display: flex;
  align-items: center;
  justify-content: left;
}

.form-inline .form-control {
  margin-right: 5px; 
}

.form-control{
  size: auto;
  height: 80%;
  align-items: center;
}

.mainCaruselDiv{
  height: 70%;
  width: 80%;
  justify-content: center;
  margin-left: 10%;
}